
body {
            font-family: Montserrat, sans-serif;
            margin: 0px;
            padding: 0px;
            background-color: #f4f4f4;
            box-sizing:border-box;
        }
        header {
            background: url(img/fon.jpg);
            color: #fff;
            padding: 3px 10px 25px 10px;
            text-align: center;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        }
        .glav {
            margin: 20px 0;
        }
        .glav {
            color: #fff;
            margin: 20px 15px;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease;
            font-size: 25px;

        }
        .glav:hover {
            color: #ff4081; /* Цвет при наведении */
        }




        .container {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; /* Распределение товаров */
        }
        .product {
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 8px;
            margin: 10px;
            padding: 15px;
            flex: 1 1 30%; /* Занимать 30% ширины */
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .product:hover {
            transform: translateY(-5px); /* Эффект при наведении */
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
        }
        .product img {
            max-width: 100%; 
            height: auto;
            border-radius: 5px; /* Закругление углов изображений */
        }
        h2 {
            color: #333;
        }
        footer {
            text-align: center;
            padding: 50px;
            background: url(img/fon.jpg);
            color: #fff;
            position: relative;
            bottom: 0;
            width: auto;
        }

        .text{
            padding: 20px 40px 20px 40px;
            box-sizing: border-box;
display: block;
font-family: Montserrat, sans-serif;
font-size: 16px;
font-weight: 100;
margin-bottom: 0px;
margin-top: 0px;
max-width: 100%;
text-align: left;
text-size-adjust: 100%;
unicode-bidi: isolate;
text-align: center;
        }